<a href="https://colab.research.google.com/github/steinruck/WANG-690-FALL-2020/blob/master/Data_Cleansing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# To remove charaacters other than letters and digits from a string 
x = "12XY#$weare&!-"

In [13]:
# loop
new_text = ""
for c in x:
    if c.isalpha() or c.isdigit():
        new_text += c
new_text

'12XYweare'

In [12]:
# can use join function
char_list = []
for c in x:
    if c.isalpha() or c.isdigit():
        char_list.append(c)
new_text2 = "".join(char_list)
new_text2

'12XYweare'

In [19]:
x

'12XY#$weare&!-'

In [34]:
# list comprehension
alpha_num = [c for c in x if c.isalpha() or c.isdigit() ]
alpha_num = "".join(alpha_num)
alpha_num

'12XYweare'

In [44]:
# function
def alpha_fil(a_string):
  if a_string is None:
      return a_string
  alphanumeric_filter = filter(str.isalnum, a_string)
  alphanumeric_string = "".join(alphanumeric_filter)
  return alphanumeric_string
alpha_fil(x)

'12XYweare'

In [32]:
# list comprehension
import string
#numbers = list(range(0,10)
numbers = [str(i) for i in range(10)]
#numbers ['1', '2', '3', '4', '5', '6', '7', '8', '9', '0'])
upper_chars = string.ascii_uppercase
lower_chars = string.ascii_lowercase
char_list = [c for c in x if c in numbers or c in upper_chars or c in lower_chars]
new_text = "".join(char_list)
new_text

'12XYweare'

In [35]:
# remove characters other than letters and digits from a column in dataframe
import pandas as pd
data = {"sample_text": ["123DVE%$-", "werwrewr132324##$rtet^^", "greg*I&(^1236%^^%&32r4f3e2"]}
df = pd.DataFrame(data)
df

                  sample_text
0                   123DVE%$-
1     werwrewr132324##$rtet^^
2  greg*I&(^1236%^^%&32r4f3e2

In [46]:
# uses function from earlier - won't work if there are NONE values
df['transformed'] = df['sample_text'].apply(alpha_fil)
df

                  sample_text         transformed
0                   123DVE%$-              123DVE
1                        None                None
2     werwrewr132324##$rtet^^  werwrewr132324rtet
3                        None                None
4  greg*I&(^1236%^^%&32r4f3e2   gregI123632r4f3e2

                  sample_text
0                   123DVE%$-
1                        None
2     werwrewr132324##$rtet^^
3                        None
4  greg*I&(^1236%^^%&32r4f3e2