<a href="https://colab.research.google.com/github/steinruck/DATA-690-WANG/blob/master/data690_session2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DATA690 test notebook 
## Week 2

In [1]:
print("hello world")

hello world

In [3]:
age = input("your age? ")
print("hello world", age)

your age? 27
hello world 27

# Python Basics

In [4]:
# write python code here
print("hello world")    # this is a simple statement
print(10)
print(10, 10.5)
print(True, False)
print(10)

hello world
10
10 10.5
True False
10

In [5]:
y = True
print(y)
y = False
print(y)

True
False

In [25]:
text = "Q1  My primary educational background is in: Social Science, Business, and Laws"

split_text = text.split(":")

part1 = split_text[0]
part2 = split_text[1]
print(part1)
print(part2)

question_label = part1[0:2]
print("label =", question_label)
question = part1[4:]
print("question = ", question)
print("answer =", part2.strip())    # strip gets rid of trailing spaces

# question_label = "Q1 "
# question_text = "My primary educational background is in: "
# answer = "Social Science, Business, and Laws"

Q1  My primary educational background is in
 Social Science, Business, and Laws
label = Q1
question =  My primary educational background is in
answer = Social Science, Business, and Laws

In [13]:
x = 20
y = 20
if x >y:
    print("x is larger than y")
    print("hello")
elif x == y:
    print("x is the same as y")
else:
    print("x is less than y")

x is the same as y

In [14]:
y = "hello world"
print(list(y))

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [15]:
for sequence in range(0, 50, 10):
    print(sequence)    #start, stop, step

0
10
20
30
40

In [16]:
for sequence in range(5):
    print(y[sequence])

h
e
l
l
o

In [17]:
100 in range(0,10,2)    # gives even numbers through 10. 100 is not there

False

In [18]:
2 in range(0,10,2)

True

In [19]:
x = "hello world"
for a_member in x:
    print(a_member.upper(), end="")

HELLO WORLD

In [20]:
len(x)

11

In [24]:
a = [1, 4, 12, 0]    # list
a[1]
sum = 0

for num in a:
    sum = sum + num

sum

17