<a href="https://colab.research.google.com/github/steinruck/WANG-690-FALL-2020/blob/master/OtherPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
45 + 72

117

In [ ]:
5 * (12.7 - 4) / 2

21.75

In [ ]:
10 / 3

3.3333333333333335

In [ ]:
10 // 3    # doesn't float

3

In [ ]:
10 / 0     # can't divide by 0

ZeroDivisionError: ignored

In [ ]:
10 // 0    # divide by 0

ZeroDivisionError: ignored

In [ ]:
0 / 10

0.0

In [ ]:
10 // 0    # divide by 0

ZeroDivisionError: ignored

In [ ]:
10 / 3 + 7

10.333333333333334

In [ ]:
10 // 3 + 7

10

In [ ]:
10 / (3 + 7)

1.0

In [ ]:
10 / 3 - 3

0.3333333333333335

In [ ]:
10 / (3 - 3)    # divide by 0

ZeroDivisionError: ignored

In [ ]:
10 // (3 - 3)    # divide by 0

ZeroDivisionError: ignored

In [ ]:
x = 10.8
y = 12.2
z = 0.2

total = x + y + z

In [ ]:
total

23.2

In [ ]:
print('Welcome\nto\n\nPython!')

Welcome
to

Python!

In [ ]:
print('this is a longer string, so we \
split it over two lines')

this is a longer string, so we split it over two lines

In [ ]:
print('Sum is', 7 + 3)

Sum is 10

In [ ]:
type('word')

str

In [ ]:
print('int(5.2)', 'truncates 5.2 to', int(5.2))

int(5.2) truncates 5.2 to 5

In [ ]:
triple_quoted_string = """This is a triple-quoted
string that spans two lines"""
print(triple_quoted_string)
triple_quoted_string

This is a triple-quoted
string that spans two lines

'This is a triple-quoted\nstring that spans two lines'

In [ ]:
print("""This is a lengthy
multiline string containing
a few lines \
of text""")

This is a lengthy
multiline string containing
a few lines of text

In [ ]:
name = input("What's your name? ")
print(name)

What's your name? Michaella
Michaella

In [ ]:
name

'Michaella'

In [ ]:
value1 = input('Enter first number: ')
value2 = input('Enter second number: ')
value1 + value2

Enter first number: 14
Enter second number: 12

'1412'

In [ ]:
value1 = int(value1)
value2 = int(value2)
value = value1 + value2
value

26

In [ ]:
another_value = int(input('Enter another integer: '))
type(another_value)

Enter another integer: 77

int

In [ ]:
value + another_value

103

In [ ]:
string = float('6.2') * 3.3
string

20.46

In [ ]:
# Comparing integers using if statements and comparision operators
print('Enter two integers and I will tell you', 
      'the relationships they satisfy')

# read first integer
number1 = int(input('Enter first integer: '))

# read second integer
number2 = int(input('Enter second integer: '))

if number1 == number2:
    print(number1, 'is equal to', number2)

if number1 != number2:
    print(number1, 'is not equal to', number2)

if number1 < number2:
    print(number1, 'is less than', number2)

if number1 > number2:
    print(number1, 'is greater than', number2)

if number1 <= number2:
    print(number1, 'is less than or equal to', number2)

if number1 >= number2:
    print(number1, 'is greater than or equal to', number2)

Enter two integers and I will tell you the relationships they satisfy
Enter first integer: 3
Enter second integer: 7
3 is not equal to 7
3 is less than 7
3 is less than or equal to 7

In [ ]:
x = 3
1 <= x <= 5

True

In [ ]:
x = 10 
1 <= x <= 5

False

In [ ]:
# find minumum of three values
number1 = int(input('Enter first integer: '))
number2 = int(input('Enter second integer: '))
number3 = int(input('Enter third integer: '))

minimum = number1

if number2 < minimum:
    minimum = number2

if number3 < minimum: 
    minimum = number3

print('Minumum value is', minimum)

Enter first integer: 24
Enter second integer: 4
Enter third integer: 17
Minumum value is 4

In [ ]:
minimum = min(47, 95, 88, 73, 88, 84)
print(minimum)
maximum = max(47, 95, 88, 73, 88, 84)
print(maximum)
print('Range:', min(47, 95, 88, 73, 88, 84), "-", max(47, 95, 88, 73, 88, 84))

47
95
Range: 47 - 95

In [3]:
total = 0
grade_counter = 0
grades = [98, 76, 71, 87, 83, 90, 57, 79, 82, 94]

for grade in grades:
    total += grade
    grade_counter += 1 

average = total / grade_counter
print(f'Class average is {average}')
print("Class average is", average)

Class average is 81.7
Class average is 81.7