<a href="https://colab.research.google.com/github/steinruck/WANG-690-FALL-2020/blob/master/OtherPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import decimal
from decimal import Decimal 
import statistics

In [2]:
45 + 72

117

In [3]:
5 * (12.7 - 4) / 2

21.75

In [4]:
10 / 3

3.3333333333333335

In [5]:
10 // 3    # doesn't float

3

In [6]:
10 / 0     # can't divide by 0

ZeroDivisionError: ignored

In [ ]:
10 // 0    # divide by 0

In [ ]:
0 / 10

In [ ]:
10 // 0    # divide by 0

In [ ]:
10 / 3 + 7

In [ ]:
10 // 3 + 7

In [ ]:
10 / (3 + 7)

In [ ]:
10 / 3 - 3

In [ ]:
10 / (3 - 3)    # divide by 0

In [ ]:
10 // (3 - 3)    # divide by 0

In [ ]:
x = 10.8
y = 12.2
z = 0.2

total = x + y + z

In [ ]:
total

In [ ]:
print('Welcome\nto\n\nPython!')

In [ ]:
print('this is a longer string, so we \
split it over two lines')

In [ ]:
print('Sum is', 7 + 3)

In [ ]:
type('word')

In [ ]:
print('int(5.2)', 'truncates 5.2 to', int(5.2))

In [ ]:
triple_quoted_string = """This is a triple-quoted
string that spans two lines"""
print(triple_quoted_string)
triple_quoted_string

In [ ]:
print("""This is a lengthy
  multiline string containing
a few lines \
of text""")

In [ ]:
name = input("What's your name? ")
print(name)

In [ ]:
name

In [ ]:
value1 = input('Enter first number: ')
value2 = input('Enter second number: ')
value1 + value2

In [ ]:
value1 = int(value1)
value2 = int(value2)
value = value1 + value2
value

In [ ]:
another_value = int(input('Enter another integer: '))
type(another_value)

In [ ]:
value + another_value

In [ ]:
string = float('6.2') * 3.3
string

In [ ]:
# Comparing integers using if statements and comparision operators
print('Enter two integers and I will tell you', 
      'the relationships they satisfy')

# read first integer
number1 = int(input('Enter first integer: '))

# read second integer
number2 = int(input('Enter second integer: '))

if number1 == number2:
    print(number1, 'is equal to', number2)

if number1 != number2:
    print(number1, 'is not equal to', number2)

if number1 < number2:
    print(number1, 'is less than', number2)

if number1 > number2:
    print(number1, 'is greater than', number2)

if number1 <= number2:
    print(number1, 'is less than or equal to', number2)

if number1 >= number2:
    print(number1, 'is greater than or equal to', number2)

In [ ]:
x = 3
1 <= x <= 5

In [ ]:
x = 10 
1 <= x <= 5

In [ ]:
# find minumum of three values
number1 = int(input('Enter first integer: '))
number2 = int(input('Enter second integer: '))
number3 = int(input('Enter third integer: '))

minimum = number1

if number2 < minimum:
    minimum = number2

if number3 < minimum: 
    minimum = number3

print('Minumum value is', minimum)

In [ ]:
minimum = min(47, 95, 88, 73, 88, 84)
print(minimum)
maximum = max(47, 95, 88, 73, 88, 84)
print(maximum)
print('Range:', min(47, 95, 88, 73, 88, 84), "-", max(47, 95, 88, 73, 88, 84))

In [ ]:
total = 0
grade_counter = 0
grades = [98, 76, 71, 87, 83, 90, 57, 79, 82, 94]

for grade in grades:
    total += grade
    grade_counter += 1 

average = total / grade_counter
print(f'Class average is {average}')
print("Class average is", average)

In [ ]:
"""Class average program with sentinel-controlled iteration"""

total = 0 
grade_counter = 0

grade = int(input('Enter grade, -1 to end: '))

while grade != -1:
    total += grade
    grade_counter += 1 
    grade = int(input('Enter grade, -1 to end: '))

if grade_counter != 0:
    average = total / grade_counter
    print(f'Class average is {average:.2f}')
else:
    print('No grades were entered')

In [ ]:
"""Using nested control statements to analyze examination results"""

passes = 0
failures = 0 

for student in range(10):
    result = int(input('Enter result (1=pass, 2=fail): '))

    if result == 1:
        passes = passes + 1
    else:
        failures = failures + 1

print('Passed:', passes)
print('Failed: ', failures)

if passes > 8:
    print('Bonus to instructor')

In [ ]:
amount = 112.31
print(amount)
print(f'{amount:.20f}')

In [ ]:
principal = Decimal('1000.00')

principal

rate = Decimal('0.05')

rate

In [ ]:
x = Decimal('10.5')
y = Decimal('2')

x + y
x // y
x += y
x

In [ ]:
for year in range(1, 11):
    amount = principal * (1 + rate) ** year
    print(f'{year:>2}{amount:>10.2f}')

In [ ]:
for number in range(100):
    if number == 10: #stops before 10
        break 
    print(number, end=' ')

In [ ]:
for number in range(10):
    if number == 5: # skips the number 5
        continue
    print(number, end=' ')

In [ ]:
gender = 'Female'
age = 70

if gender == 'Female' and age >= 65: # boolean and means both conditions must be true
    print('Senior Female')

In [ ]:
semester_average = 83
final_exam = 95

if semester_average >= 90 or final_exam >= 90:
    print('Student gets and A')

In [ ]:
grade = 87

if not grade == -1:
    print('The next grade is:', grade)

if grade != -1:
    print('The next grade is:', grade)

In [ ]:
grades = [85, 93, 45, 89, 85]

sum(grades) / len(grades)

In [ ]:
mean = statistics.mean(grades)
median = statistics.median(grades)
mode = statistics.mode(grades)
print(sorted(grades)) 
print(mean)
print(median)
print(mode)

In [12]:
x = 2
y = 3

print('x =', x)
print('Value of', x, '+', x, 'is', ((x + x)))
print('x =')
print(x + y, '=', y + x)

x = 2
Value of 2 + 2 is 4
x =
5 = 5

In [16]:
values = [47, 95, 88, 73, 88, 84]

minimum = min(values)
maximum = max(values)

print('Range:', minimum, '-', maximum)

Range: 47 - 95

In [18]:
grade = 91

if grade >= 90:
    print('Congratulations! Your grade of', grade, 'earns you an A in this course')

Congratulations! Your grade of 91 earns you an A in this course

In [20]:
def square(number):
    """Calculate the square of number."""
    return number ** 2

square(7)

49

In [21]:
square(2.5)

6.25