<a href="https://colab.research.google.com/github/steinruck/WANG-690-FALL-2020/blob/master/Session4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [10]:
DATA_URL = "https://raw.githubusercontent.com/wcj365/python-stats-dataviz/master/assignment_fall2020/census_cost.csv"
df = pd.read_csv(DATA_URL, skiprows=2)
df.head(1)

   Census Year  Total Population  Census Cost  Average Cost Per Person
0         1790           3929214        44377                   0.0113

In [12]:
df.columns

Index(['Census Year', 'Total Population', 'Census Cost',
       'Average Cost Per Person'],
      dtype='object')

In [11]:
df.shape # output shows that each row is a column because the first line in the file is a single column. Add skiprows to df assignment

(23, 4)

In [13]:
df.sample(5)

    Census Year  Total Population  Census Cost  Average Cost Per Person
14         1930         122775046     40156000                   0.3271
16         1950         151325798     91462000                   0.6044
8          1870          38558371      3421198                   0.0887
18         1970         203302031    247653000                   1.2200
13         1920         105710620     25117000                   0.2376

In [14]:
df.shape

(23, 4)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     int64
 1   Total Population         23 non-null     int64
 2   Census Cost              23 non-null     int64
 3   Average Cost Per Person  23 non-null     float64
dtypes: float64(1), int64(3)
memory usage: 864.0 bytes

In [17]:
df.describe()

       Census Year  Total Population   Census Cost  Average Cost Per Person
count      23.0000      2.300000e+01  2.300000e+01                23.000000
mean     1900.0000      1.039211e+08  9.445587e+08                 3.368739
std        67.8233      9.622629e+07  2.830037e+09                 9.278241
min      1790.0000      3.929214e+06  4.437700e+04                 0.011300
25%      1845.0000      2.013067e+07  1.128361e+06                 0.055100
50%      1900.0000      7.630339e+07  1.185400e+07                 0.170700
75%      1955.0000      1.653245e+08  1.096980e+08                 0.658900
max      2010.0000      3.087455e+08  1.300000e+10                42.110000

In [20]:
WEB_URL = "https://www.genealogybranches.com/censuscosts.html"
df_list = pd.read_html(WEB_URL)
len(df_list)

2

In [22]:
df = df_list[0]
df.head()

             0                 1            2                        3
0  Census Year  Total Population  Census Cost  Average Cost Per Person
1         1790           3929214      $44,377               1.13 cents
2         1800           5308483      $66,109               1.24 cents
3         1810           7239881     $178,445               2.46 cents
4         1820           9633822     $208,526               2.16 cents

In [23]:
df.columns

Int64Index([0, 1, 2, 3], dtype='int64')

In [26]:
header = df.iloc[0]
header

0                Census Year
1           Total Population
2                Census Cost
3    Average Cost Per Person
Name: 0, dtype: object

In [29]:
df = df.iloc[1:]
df.head()

      0         1           2           3
3  1810   7239881    $178,445  2.46 cents
4  1820   9633822    $208,526  2.16 cents
5  1830  12866020    $378,545  2.94 cents
6  1840  17069458    $833,371  4.88 cents
7  1850  23191876  $1,423,351  6.14 cents

In [31]:
type(header)

pandas.core.series.Series

In [36]:
header_list = list(header)
header_list

['Census Year', 'Total Population', 'Census Cost', 'Average Cost Per Person']

In [37]:
df.columns = header_list
df.head()

  Census Year Total Population Census Cost Average Cost Per Person
3        1810          7239881    $178,445              2.46 cents
4        1820          9633822    $208,526              2.16 cents
5        1830         12866020    $378,545              2.94 cents
6        1840         17069458    $833,371              4.88 cents
7        1850         23191876  $1,423,351              6.14 cents