<a href="https://colab.research.google.com/github/steinruck/WANG-690-FALL-2020/blob/master/Assignment_07/Assignment_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Assignment 07

**You can use the local Jupyter environment if you are not comfortable with Colab for this assignment.**

The first half of this assignment is a repeat of assignment 05.

This gives you a chance to refresh.

The second half is new and gives you a chance to perform additional practices.

You also get a chance to use some of the Python libraries and techniques.

You will unzip the zip file manually in preparation for this assignment.

The link to the zip file is (you have already used it in your assignment 5):

https://ed-public-download.app.cloud.gov/downloads/CollegeScorecard_Raw_Data.zip

After unzipping, You will have all files in one folder named "CollegeScorecard_Raw_Data" 

The folder contains the yearly data files from 1996 to 2019 school years.

if you are using your local environment, I suggest you create a new folder call "Assignment7" and place the Notebook file and the data folder under it.
```
Assignment7/
    - assignment_07.ipynb
    - CollegeScorecard_Raw_Data/
        - ...
        - 'MERGED1996_97_PP.csv',
        - 'MERGED2015_16_PP.csv',
        - ...
        - 'MERGED2017_18_PP.csv'
```

In [44]:
# <1> 
# Import libraries

import matplotlib.pyplot as plt
import os
import fnmatch
import pandas as pd
import glob

In [3]:
# <2> 
# Display the current workin directory using os.getcwd()
# you would need to import a standard Python library called os which stands for operating system,
# so place that import statement in the previous cell.
# Since your notebook and your data files are not in # the same folder, 
# you want to make sure what is the current working folder and 
# how to access a data file in a different folder

os.getcwd()

'/content'

In [12]:
from zipfile import ZipFile
#CollegeScorecard_Raw_Data.zip = /content/CollegeScorecard_Raw_Data.zip

#with ZipFile(CollegeScorecard_Raw_Data.zip, 'r') as zip:
  #zip.extractall()
  #print('Done')
!unzip /content/CollegeScorecard_Raw_Data.zip

Archive:  /content/CollegeScorecard_Raw_Data.zip
   creating: CollegeScorecard_Raw_Data/
  inflating: CollegeScorecard_Raw_Data/MERGED2011_12_PP.csv
  inflating: CollegeScorecard_Raw_Data/MERGED1999_00_PP.csv
  inflating: CollegeScorecard_Raw_Data/MERGED2006_07_PP.csv
  inflating: CollegeScorecard_Raw_Data/MERGED2014_15_PP.csv
  inflating: CollegeScorecard_Raw_Data/.DS_Store
  inflating: CollegeScorecard_Raw_Data/MERGED2003_04_PP.csv
  inflating: CollegeScorecard_Raw_Data/MERGED1996_97_PP.csv
  inflating: CollegeScorecard_Raw_Data/FieldOfStudyData1516_1617_PP.csv
  inflating: CollegeScorecard_Raw_Data/MERGED2012_13_PP.csv
  inflating: CollegeScorecard_Raw_Data/MERGED2005_06_PP.csv
  inflating: CollegeScorecard_Raw_Data/MERGED2009_10_PP.csv
  inflating: CollegeScorecard_Raw_Data/MERGED2018_19_PP.csv
  inflating: CollegeScorecard_Raw_Data/MERGED2017_18_PP.csv
  inflating: CollegeScorecard_Raw_Data/Crosswalks.zip
  inflating: CollegeScorecard_Raw_Data/MERGED2000_01_PP.csv
  inflating: CollegeScorecard_Raw_Data/MERGED2001_02_PP.csv
  inflating: CollegeScorecard_Raw_Data/MERGED2016_17_PP.csv
  inflating: CollegeScorecard_Raw_Data/MERGED1997_98_PP.csv
  inflating: CollegeScorecard_Raw_Data/MERGED1998_99_PP.csv
  inflating: CollegeScorecard_Raw_Data/data.yaml
  inflating: CollegeScorecard_Raw_Data/MERGED2004_05_PP.csv
  inflating: CollegeScorecard_Raw_Data/MERGED2002_03_PP.csv
  inflating: CollegeScorecard_Raw_Data/MERGED2015_16_PP.csv
  inflating: CollegeScorecard_Raw_Data/MERGED2013_14_PP.csv
  inflating: CollegeScorecard_Raw_Data/MERGED2007_08_PP.csv
  inflating: CollegeScorecard_Raw_Data/MERGED2008_09_PP.csv
  inflating: CollegeScorecard_Raw_Data/MERGED2010_11_PP.csv
  inflating: CollegeScorecard_Raw_Data/FieldOfStudyData1415_1516_PP.csv

In [23]:
# <3> 
# os library has a method call listdir which generates a list of files in a directory/folder.
# use this method to assign the contents (list of file names) of the data folder to a variable and display it.
# # You can use ../ construct to traverse to the parent folder and then to another foloder parallel to the current folder

os.listdir()
os.listdir('/content/CollegeScorecard_Raw_Data/')

['MERGED1998_99_PP.csv',
 'MERGED2006_07_PP.csv',
 'MERGED2007_08_PP.csv',
 'MERGED2003_04_PP.csv',
 'MERGED2009_10_PP.csv',
 'FieldOfStudyData1415_1516_PP.csv',
 'MERGED2016_17_PP.csv',
 'MERGED2001_02_PP.csv',
 'MERGED2017_18_PP.csv',
 'MERGED2002_03_PP.csv',
 'MERGED2013_14_PP.csv',
 'MERGED2018_19_PP.csv',
 'MERGED2000_01_PP.csv',
 'MERGED1999_00_PP.csv',
 '.DS_Store',
 'MERGED2004_05_PP.csv',
 'MERGED2008_09_PP.csv',
 'Crosswalks.zip',
 'MERGED2010_11_PP.csv',
 'MERGED2014_15_PP.csv',
 'MERGED2011_12_PP.csv',
 'FieldOfStudyData1516_1617_PP.csv',
 'MERGED2012_13_PP.csv',
 'MERGED1997_98_PP.csv',
 'MERGED2005_06_PP.csv',
 'MERGED1996_97_PP.csv',
 'MERGED2015_16_PP.csv',
 'data.yaml']

In [45]:
glob.glob('/content/CollegeScorecard_Raw_Data/MERGED*')

['/content/CollegeScorecard_Raw_Data/MERGED1998_99_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2006_07_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2007_08_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2003_04_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2009_10_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2016_17_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2001_02_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2017_18_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2002_03_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2013_14_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2018_19_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2000_01_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED1999_00_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2004_05_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2008_09_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2010_11_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2014_15_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2011_12_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2012_13_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED1997_98_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2005_06_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED1996_97_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2015_16_PP.csv']

In [46]:
# <4> 
# The folder contains files that are not the yearly data files
# write code to remove the unwanted files from the list vsriable 
# Note: don't remove/delete these files from the folder in your drive
# For example, use the file extension to only keep the csv files 
# or use the name patter - data file name begins with "MERGED"
# You can use the concept of list comprehension to write just 
# one line of code as well as using a for loop, your choice.

file_list = glob.glob('/content/CollegeScorecard_Raw_Data/MERGED*')
#file_list = []
#for file_name in os.listdir('/content/CollegeScorecard_Raw_Data'):
    #if fnmatch.fnmatch(file_name, 'MERGED*'):
        #file_list.append(file_name)
        #print(file_name)

In [48]:
file_list

['/content/CollegeScorecard_Raw_Data/MERGED1998_99_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2006_07_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2007_08_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2003_04_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2009_10_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2016_17_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2001_02_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2017_18_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2002_03_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2013_14_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2018_19_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2000_01_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED1999_00_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2004_05_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2008_09_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2010_11_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2014_15_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2011_12_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2012_13_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED1997_98_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2005_06_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED1996_97_PP.csv',
 '/content/CollegeScorecard_Raw_Data/MERGED2015_16_PP.csv']

In [53]:
# <5> 
# Now that you have a clean list of the yearly files, you want to loop through them
# and read them into a dataframe one at a time. You only load six columns: 
# ["UNITID", "INSTNM", "STABBR", "REGION", "ADM_RATE", "TUITIONFEE_IN"].
# You should use "usecols" option of Pandas to avoid reading unwanted columns.
# You also want to add a new column call "YEAR" to differentiate the data frames from each other.
# The YEAR variable should be yyyy format so tht you can convert them into integer.
# if you use the format yyyy-yy (such as 1997-98 school year), you will not be able to convert them directly to integer
# if you use scatter plot, the YEAR needs to be converted to integer or float. 
# 
# You would use an empty list and append the yearly dataframes to the list.
# After all data files are loaded and appended to the list, you would use Pandas to concatenate them into a 
# new single data frame.
# Note: this exercise incorporates many techques we learned before
# - list (creating an empty, append an item to the list)
# - for loop 
# - read only the needed columns from a file (using usecols option)
# - add a new column to a data frame
# - concatenate multiple dataframes into a single one
# This exercise may appear a big challenging but it worths the effort. You will learn a lot and  love it. I promise.

dfs = []
for item in file_list:
    dfs.append(pd.read_csv(item, usecols=["UNITID", "INSTNM", "STABBR", "REGION", "ADM_RATE", "TUITIONFEE_IN"]))

AttributeError: ignored

In [54]:
columns = ['UNITID', 'INSTNM', 'CITY', 'STABBR', 'ZIP', 'ADM_RATE', 'UGDS', 'TUITIONFEE_IN', 'MN_EARN_WNE_P10']

df1 = pd.DataFrame(dfs, columns=columns)
df1

ValueError: ignored

In [ ]:
# <6> 
# explore the new dataframe (# of observations, varibles, head, tail, sample, missing values, statistics,etc.)

#(Write code here)

In [ ]:
# <7>
# the dataframe contains many years of data of all U.S. colleges.
# let's just look at UMBC
# filter/query the dataframe to retrieve only rows that belong to UMBC
# save the UMNC data to a new data frame. using a new variable 
# so that the old big data frame is still available for later use.

#(Write code here)

In [ ]:
# <8>
# Explore this UMBC dataframe (# of observations, varibles, head, tail, sample, missing values, statistics,etc.)

#(Write code here)

In [ ]:
# <9> 
# Plot UMBC's in-state tution overtime from 1996 to 2019 using Bar Chart

#(Write code here)

In [ ]:
# <10> 
# Plot UMBC's in-state tution overtime from 1996 to 2019 using Line Chart

#(Write code here)

In [ ]:
# <11>
# Now let's look at the tuition growth rate year over year
# We need to calculate UMBC tuition change percentage each year
# First convert the TUITIONFEE_IN column to a Python List

#(Write code here)

In [ ]:
# Loop through the list and calculate the % change each year over the prior year
# This takes some effort. Not hard, just some abstract/logical thinking and some experiments
# Have fun on this one

 #(Write code here)

In [ ]:
# The resulting number has many decimal points which are unnecessary and not visually appealing.
# Round up the percentage to two decimal points
# You can use for loop. Or better, use list comprehension for simplicity/brevity

#(Write code here)

In [ ]:
# Add the list of the percentages to the dataframe as a new column ("PCT_CHANGE")
# Not as hard as you may think. If you get stuck, you think too hard. 
# Google it and you will find the answer.

#(Write code here)

In [ ]:
# Finaly, we can make the plot tuition growth rate year over year - bar first, then line chart

# (write code here)

In [ ]:
# <12>
# Since we want to do the same calculation for JHU. 
# Instead of doing it piecemeal as we did for UMBC
# Let's create a function which can be reused for any college.
# This function takes a list of tuitions and return a list of percentage changes year over year
# This function can be used later 

#(Write code here)

In [ ]:
# <13>
# the dataframe contains many years of data of all U.S. colleges.
# let's just look at JHU
# filter/query the dataframe to retrieve only rows that belong to JHU
# save the JHU data to a new data frame. using a new variable 
# so that the old big data frame is still available for later use.

#(Write code here)

In [ ]:
# <14> 
# Plot JHU's in-state tuition overtime from 1996 to 2019. 
# Let's plot bar and line chart together

#(Write code here)

In [ ]:
# <15>
# Let's calculate the JHU tuition percentge growth using the function defined earlier

#(Write code here)

In [ ]:
# <16>
# Add the list of percentage changes to the dataframe as a new column ("PCT_CHANGE")

#(Write code here)

In [ ]:
# <17> Make a bar plot of the JHU percentage changes tuitions over time

#(Write code here)

In [ ]:
# <18>
# In order to plot both UMBC and JHU tuition change over time in the same plot,
# we need to combine the two datasets using the common key of YEAR 
# First make a umbc2 dataframe with only two columns needed. WE don't need other columns.
# Also change the column name from "PCT_CHANGE" to "UMBC_PCT" in preparation for the merge.
# This is because both umbc and jhu dataframe have the same column name "PCT_CHANGE",
# We rename them to there is no collision during the merge. BTW, Pandas handles collision gracefully,
# Feel free to try it without changing the column names.

#(Write code here)

In [ ]:
# Then make a jhu2 dataframe with only two columns needed. WE don't need other columns.
# Also change the column name from "PCT_CHANGE" to "JHU_PCT"  in preparation for the merge

#(Write code here)

In [ ]:
# Now, merger the two data frames
# and display the new dataframe

#(Write code here)

In [ ]:
# Plot UMBC and JHU separately on the same plot 
# However, this does not work since the bars overlap.

#(Write code here)

In [ ]:
# Plot them together using y=["UMBC_PCT","JHU_PCT"] option of bar plot

#(Write code here)

In [ ]:
# Plot them together using y=["UMBC_PCT","JHU_PCT"] option of line plot

#(Write code here)

In [ ]:
# <19> 
# document your observation/conclusion of the comparison plots (bar/line)
# use the following Markdown cell

#### Based on my observation of the plots
#### blah, blah 
#### blah, blah
#### ...
#### blah, blah

In [ ]:
# The end.